option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TZ
    value: "Brazil/East"

commands:
  command1: 
    command: npm install
    cwd: /var/app/staging/server
    ignoreErrors: true

  command3: 
    command: nohup node server.js --env NODE_ENV=production > output.log &
    cwd: /var/app/staging/server
    env:
       CORS_HOST: localhost
       CORS_PORT: 3010
    ignoreErrors: true

  command4: 
    command: npm install
    cwd: /var/app/staging/client
    ignoreErrors: true

  command5: 
    command: nohup npm run serve > output.log &
    cwd: /var/app/staging/client
    env:
      VUE_APP_HOST: localhost
      VUE_APP_PORT: 3010
      VUE_APP_SERVER_HOST: localhost
      VUE_APP_SERVER_PORT: $PORT
    ignoreErrors: true