<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

	<servers>
		<server>
			<id>gitlab.com</id>
			<username>${env.PROJECT_REPO_USER}</username>
			<password>${env.PROJECT_REPO_PASSWORD}</password>
		</server>

		<server>
			<id>nexus</id>
			<username>${env.ARTIFACT_REPO_USER}</username>
			<password>${env.ARTIFACT_REPO_PASSWORD}</password>
		</server>


		<server>
			<id>nexus-snapshots</id>
			<username>${env.ARTIFACT_REPO_USER}</username>
			<password>${env.ARTIFACT_REPO_PASSWORD}</password>
		</server>

		<server>
			<id>nexus-releases</id>
			<username>${env.ARTIFACT_REPO_USER}</username>
			<password>${env.ARTIFACT_REPO_PASSWORD}</password>
		</server>

		<server>
			<id>wildfly</id>
			<username>${env.APP_SERVER_ADMIN_USER}</username>
			<password>${env.APP_SERVER_ADMIN_PASSWORD}</password>
		</server>

	</servers>

	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>${env.ARTIFACT_REPO_PROTOCOL}${env.ARTIFACT_REPO_HOST}:${env.ARTIFACT_REPO_PORT}/repository/maven-public/</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>nexus</id>

			<properties>
				<altSnapshotDeploymentRepository>snapshots::default::https://${env.ARTIFACT_REPO_HOST}:${env.ARTIFACT_REPO_PORT}/snapshots</altSnapshotDeploymentRepository>
				<altReleaseDeploymentRepository>releases::default::https://${env.ARTIFACT_REPO_HOST}:${env.ARTIFACT_REPO_PORT}/releases</altReleaseDeploymentRepository>
			</properties>


			<repositories>
				<repository>
					<id>maven-public</id>
					<url>${env.ARTIFACT_REPO_PROTOCOL}${env.ARTIFACT_REPO_HOST}:${env.ARTIFACT_REPO_PORT}/repository/maven-public/</url>
				</repository>

				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
			
		</profile>

		<profile>
			<id>sonar</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<sonar.host.url>${env.QUALITY_REPO_PROTOCOL}${env.QUALITY_REPO_HOST}:${env.QUALITY_REPO_PORT}</sonar.host.url>
			</properties>
		</profile>

		<profile>
			<id>wildfly</id>
			<properties>
				<wildfly-hostname>${env.APP_SERVER_ADMIN_HOST}</wildfly-hostname>
				<wildfly-port>${env.APP_SERVER_ADMIN_PORT}</wildfly-port>
				<wildfly-username>${env.APP_SERVER_ADMIN_USER}</wildfly-username>
				<wildfly-password>${env.APP_SERVER_ADMIN_PASSWORD}</wildfly-password>
			</properties>
		</profile>

	</profiles>

	<activeProfiles>
		<activeProfile>nexus</activeProfile>
		<activeProfile>sonar</activeProfile>
		<activeProfile>wildfly</activeProfile>
	</activeProfiles>

</settings>
